
<div class='container'>
<div class="col-xs-12 col-md-9">
	<div id="space"><h3>Назва:<%= kolomiya.title %> </h3></div>
	<section class="row">	
	<article class="col-sm-12 col-md-12 col-lg-12">
          <div style="background-color:#ddd;padding:15px;">
          <h3><%= kolomiya.title %> </h3>
	
		<img src="<%= kolomiya.img %>" width="100%">
			<hr>
			<div>
			<h4>Опис</h4>
			<p><%- kolomiya.text %></p>
			
			<hr>

			<p><small>Дата: <%= kolomiya.updatedAt %></small></p>
			
					<% if (session.authenticated && session.User.admin) { %>
			<a class="btn btn-medium btn-primary" href="/kolomiya/edit/<%= kolomiya.id %>">Редагувати</a>
			<%} %>
			  </div>
	
        </div>
</article>
</section>
 </div>