	
<% if (session.authenticated && session.User.admin) { %>	
	<form action="/wiki/update/<%= wiki.id %>" method="POST" class="form-edit">
		<h2> Редагувати Wiki </h2>

		<input type="hidden" value="<%= session.User.id %>" name="name" type="text" class="form-control"/>
		<input value="<%= wiki.title %>" name="title" type="text" class="form-control"/>
		
		<textarea name="text" id="redactor"/><%= wiki.text %></textarea>
		<input value="<%= wiki.img %>" name="img" type="text" class="form-control"/>
				
		<div class="control-group" type="text">
		<select name="category" class="form-control">
		<option  value="">Без категорії Васька)</option>
		<option  value="gd-vokzal">ЖД-Вокзал</option>
		<option  value="autovokzal">Автовокзал</option>
		<option  value="citytransport">Міський транспорт</option>
		<option  value="taxi">Таксі</option>
		</select>
	</div>
	<br>
<input name="category" type="text" placeholder="Нова категорія" class="form-control"/>
<br>
		<input type="submit" value="Зберегти" class="btn btn-lg btn-primary btn-block"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>

 <%} else { res.redirect('/session/new'); } %>